* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Style */
.btn {
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

/* Common Style */

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* ==============================================
Header area
============================================== */

header {
    background: url(images/developer.png), url(images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}

/*Navigation Bar  */

nav {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 45px;
    font-weight: 900;
}

.logo>h3>span {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 51px;
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    font-size: 20px;
    font-weight: normal;
    color: #474747;
    text-decoration: none;
}

/* Banner Area */

.banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    width: 100%;
    max-width: 585px;
}

.banner-content>h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}

.banner-content>h1{
    color: #181818;
    font-size: 85px;
    font-weight: bold;
}

.banner-content>p{
    color: #757575;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0 30px 0;
}

.banner-btn{
    display: flex;
    gap: 30px;
}

.banner-img> img{
    width: 584px;
    vertical-align: middle;
}








