* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Style */
.btn {
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

/* Common Style */

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* ==============================================
Header area
============================================== */

header {
    background: #a9159a;
    padding-top: 50px;
}

nav {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 45px;
    font-weight: 900;
}

.logo>h3>span {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
    gap: 51px;
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    font-size: 20px;
    font-weight: normal;
    color: #474747;
    text-decoration: none;
}